* {
  box-sizing: border-box;
}

:root {
  --primary-background-color: #151514;

  --primary-text-color: #e8e8e8;
  --light-text-color: rgba(235, 235, 235, 0.4);
  --hero-text-color: rgba(235, 235, 235, 0.8);
  --dim-text-color: rgba(235, 235, 235, 0.03);
  --primary-alert-background-color: #93c5fd;
  --primary-alert-text-color: #147af0;
  --primary-action: rgb(78, 120, 78);
  --secondary-alert-background-color: #d8b4fe;
  --secondary-alert-text-color: #953ff0;
  --danger-background-color: #fca5a5;
  --danger-text-color: #a11d1d;
  --alert-immediate-action-bg-color: #f8d257;
  --alert-immediate-action-txt-color: rgb(156, 156, 25);
  --alert-success-bg-color: #86efac;
  --alert-success-txt-color: #1c8d46;
  --bg-overlay: rgba(0, 0, 0, 0.566);
  --light-grey: rgba(255, 255, 255, 0.1);
  --invalid-color: #ff4e45;
  --success-color: #2ba640;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-checkbox {
  accent-color: rgb(78, 120, 78);
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.typography-heading-3 {
  font-weight: 400;
}
.typography-para {
  margin: 0;
}

.typography-para-light {
  font-weight: 300;
  font-size: small;
}

.align-self-start {
  align-self: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.vis-visible {
  visibility: visible;
}

.vis-hidden {
  visibility: hidden;
}

.flex-gap-sml {
  display: flex;
  gap: 0.5rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  display: flex;
  align-items: center;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-0 {
  margin: 0;
}

.fs-lrg {
  font-size: x-large;
}

.light-grey-txt-color {
  color: var(--light-grey);
}
